.App {
  text-align: center;
  border: 3px black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.details {
  background-color: #eb4e24;
  height: 800px;
}

select {
  width: 50%;
  height: 30px;
  border: #666464 solid 1px;
}
.border {
  border: #dbdbdb solid 1px;
}
table td {
  padding: 10px;
}
input[type=text] {
  border: #c1c1c1 solid 1px;
  height: 20px;
  padding: 4px 3.5px;
  width:50%;
}
label{
  color: black;
}
.fa {
  font-size: 2em ;
  color: #fff;
  padding-left: 15px;
}
form {
  margin-right: 25%;
  margin-left: 25%;
  border: 2px solid black;
}
.form {
  margin-right: 15%;
  margin-left: 15%;
  text-align: start;
}
button {
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #203886;
  color: white;
  padding: 15px 30px;
  text-align: center;
  border-radius: 50px;

}
